/* GLOBAL -----------------------------------------------------------*/
body{
    background-color: #ffffff;
    font-family: lato;
    margin: 0;
    color: #112256;
}
fieldset{
    margin: 30px;
    color:#277740;
    border: 1px solid #112959;
    font-size: 30px;
    font-weight: bold;
    border-radius: 4px;
}
legend{
    padding: 0 20px 0 20px;
}
label{
    font-size: 18px;
    line-height: 2;
}
input{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: 3px solid #112256;
    background-color: transparent;
    border-radius: 4px;
    color: #112256;
    padding: auto;
    padding: 15px;
    font-weight: bold;
} 

/* FONTS -----------------------------------------------------------*/

.tittle__font{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-weight: 700;
}
.font__subtittle{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-weight: 600;
}
.lista__img{
    height: 400px;
    width: 400px;
}
.main__tittle{
    text-align: center;
    font-size: 48px;
    margin: 10 0px;
    margin-top: 50px;
}
.font--green{
color: #277740;
}
.font--blue{
    color: #112256;
}

.font--text{
    width: 80vw;
    margin: 40px;
    font-size: 25px;
    font-weight: bold;
}

/* HEADER ----------------------------------------------------------*/
.MeserosIndex {
    height: 10%; /* Altura completa de la pantalla */
    width: 90%;
    margin-left: 5%;
    margin-top: 60px;
    object-fit: cover;
    border-radius: 12px;
}



/* NAV ----------------------------------------------------------*/
.navbar{
    box-shadow: 0 .1px 5px 	#CECBCB;
}
.nav__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
}
.nav__item{
    margin-right: 100px;
}
.nav__link {
    color: #277740;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;  
    transition: color 1s ease;
}
.nav__link:hover{
    color: #112256;
    font-weight: bold;
    font-size: 28px;
}
.icon{
    height: 75px;
    width:52px;
    object-fit: contain;
    margin-left: 40px;
}
/*SECTION INDEX --------------------------------------------*/
.container img:hover {
    transform: scale(1.1);
}
/*SECTION INDEX --------------------------------------------*/
/*SECTION CONTACTO --------------------------------------------*/
.submit{
    padding: auto;
    width: 150px;
    margin-top: 80px;
    letter-spacing: 3px;
    box-sizing: border-box;
}

/*QUERRYS -----------------------------------------------------*/
@media (max-width: 768px) {
    .nav {
        flex-direction: column; /* Cambia la direcci칩n a columna en dispositivos peque침os */
        align-items: flex-start; /* Alinea los elementos a la izquierda */
    }
    .nav__item {
        margin-right: 10px;
        margin-bottom: 10px; /* Espacio entre elementos en dispositivos peque침os */
    }
}
/* FOOTER SECTION ----------------------------------*/


footer {
    color: #112256; /* Color del texto */
    width: 100%;
    padding: 20px 0;
}
.carousel img {
height: 20%;
width: auto;
}
.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 30px; /* Ajusta el tama침o de los iconos */
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2); /* Efecto de zoom al pasar el cursor */
}
.map-container iframe {
    border-radius: 15px; /* Bordes redondeados */
    border: none; /* Elimina el borde negro del iframe */
}
